/* PREP FINAL INSPECTION */
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    width: 150px;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  /* The search field */
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  /* The search field */
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}



/* LHP FINAL INSPECTION */

.card-template {
    height: 35%;
}

.card-part {
    margin: 5px 5px 5px 5px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    height: 85%;
}

.main-card {
    margin: 20px 2px 15px 0px;
    border-radius: 20px;
    /* height: 82.5%; */
    height: 619px;
    overflow-y: scroll;
}

.row-card-i{
    margin: 0px 2px 2px 0px;
}

.card-inside{
    height: 70px;
    width: 100%;
    border-radius: 40px;
    background-color: rgb(143, 6, 6);
}

.card-inside1 {
    height: 90%;
    width: 40%;
    margin: 3.5px -10px 4px 3px;
    border-radius:  40px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    padding: 0 0 0 0;
}

.card-inside2{
    height: 74%;
    width: 62%;
    margin: 8.5px 9px 0px -10px;
    padding: 0 0 0 -6px;
    border-radius: 0px 40px 40px 0px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    /* float: right; */
}

.font-ci1{
    font-size: 33px;
    font-weight: 700;
    margin: 5px 0px 0px -7px ;
}

.font-ci2{
    font-size: 15px;
    font-weight: 700;
    margin: 13px 1px 0px 10px ;
}

.font-with-enter{
    font-size: 15px;
    font-weight: 700;
    margin: 3px 1px 0px 10px ;
}

.totalck{
    background-color: rgb(106, 150, 211);
    height: 35%;
}

.totalng{
    background-color: #ee3030;
    height: 35%;
}

.totalok{
    background-color: #37a755;
    height: 60%;
}

.parent{
    margin-left: -10px;
}

.child {
    height: 60px; 
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin: 13px 0px 0px 0px;
    /* padding: 8px 0 0 0px; */
    border-radius: 10px 10px 10px 10px;
}

